{% extends "layout.twig" %}
{% block content %}

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% if error.type == 'danger' %}
            <div class="alert alert-danger">
              <p>{{ error.message }}</p>
            </div>
          {% else %}
            <div class="alert alert-warning">
              <p>{{ error.message }}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <hr>

{% endblock %}
