{% extends "layout.twig" %}
{% block content %}

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <!-- Posts -->
          {% for post in posts %}
            <div class="post-preview">
                <a href="/index.php?action=renderPost&id={{ post.id }}">
                  <h2 class="post-title">{{ post.title }}</h2>
                  <h3 class="post-subtitle">
                    {{ post.content }}
                  </h3>
                </a>
                <p class="post-meta">Posté par
                  <a href="#">Joffrey</a>
                  on {{ post.created_at }}</p>
            </div>
            <hr>
          {% endfor %}
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-secondary float-right" href="/index.php?action=renderPosts">Voir tous les posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

{% endblock %}
